body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    max-width: 500px;
    margin: 0px auto;
    height: 100vh;
}

.wrapper > div {
    display: flex;
    flex-direction: column;
}

.usd,  .rmb{
    margin-top: 50px;
}

input {
    padding: 10px 20px;
}

label {
    font-size: 20px;
}